doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=Edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="theme-color" content="#000")
    meta(name="format-detection" content="telephone=no")
    title= htmlWebpackPlugin.options.title

    block head

  body
    if htmlWebpackPlugin.files.sprites
      each sprite in htmlWebpackPlugin.files.sprites
        | !{sprite}

    block body
