.icon-arrow {
	height: 1em;
	width:(11/22)*1em;
}
.icon-bathroom {
	height: 1em;
	width:(18/17)*1em;
}
.icon-bedroom {
	height: 1em;
	width:(14/10)*1em;
}
.icon-heart {
	height: 1em;
	width:(18/17)*1em;
}
.icon-marker {
	height: 1em;
	width:(11/16)*1em;
}
.icon-plus {
	height: 1em;
	width:(50/50)*1em;
}
.icon-square {
	height: 1em;
	width:(16/16)*1em;
}
.icon-weather-cloud {
	height: 1em;
	width:(28/24)*1em;
}
